.sec-A{
    position: relative;
    padding: 0 100px 0 100px;
        /* top right bottom left */
    display: flex;
    width: 100%;
    height: 90vh;
    align-items: center;
}
.sec-A .cont-slider{
    width: 90%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
}
.sec-A .cont-slider > div{
    display: flex;
    width: 400%;
    height: auto;
}
.sec-A .cont-slider .sec-slider{
    width: 100%;
}
.sec-A .cont-slider .sec-slider img{
    display: block;
    width: 100%;
    height: 100%;
}