/* 
 * section A
 */
.sec-A{
    position: relative;
    padding: 50px 200px 0 200px;
        /* top right bottom left */
    display: flex;
    width: 90%;
    align-items: center;
}
.sec-A .cont-slider{
    max-width: 330px;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 0 0 10px #fff,
                0 0 0 20px #000,
                0 15px 50px;
    position: relative;
}
.sec-A .cont-slider .slider{
    display: flex;
    width: 400%;
    height: auto;
    margin-left: -100%;
}
.sec-A .cont-slider .sec-slider{
    width: 100%;
}
.sec-A .cont-slider .sec-slider img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sec-A .cont-slider .btn-slider{
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgb(255, 255, 255, 0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}
    .sec-A .cont-slider .btn-slider:hover{
        background-color: #fff;
    }
    .sec-A .cont-slider .btn-slider-left{
        left: 10px;
    }
    .sec-A .cont-slider .btn-slider-right{
        right: 10px;
    }
    
.sec-A .texto{
    position: relative;
    align-items: center;
    text-align: center;
    font-size: 1.2vw;
    color: #202020;

    float: right;
    width: 40%;
    padding-left: 5vw;
}
.sec-A .texto h1{
    font-size: 1.8vw;
    /* text-shadow: #6d9ebe 2px 3px; */
        /* color | offset-x | offset-y */
    /* background-image: linear-gradient(to right, #f9c74f  0%, #90be6d 100%); */
}
.sec-A .texto p{
    margin-bottom: 20px;
}

/* 
 * section B
 */
 .sec-B{
    position: relative;
    padding: 130px 100px 0 100px;
        /* top right bottom left */
    width: 90%;
    max-width: 1400px;
    align-items: center;
    margin: auto;
}
.sec-B > h1{
    font-size: 2vw;
    padding-bottom: 20px;
}
.sec-B .cont-portafolio{
    display: flex;
    justify-content: space-between;
}
.sec-B .cont-portafolio .obj-portafolio{
    position: relative;
    width: 240px;
    height: 400px;
    overflow:hidden;
}

.sec-B .cont-portafolio .obj-portafolio .txt-portafolio{
    position: absolute;
    bottom: 0;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    transform: translateY(100%);
    transition: all 0.3s ease-out;
}
    .sec-B .cont-portafolio .obj-portafolio .txt-portafolio p{
        text-align: justify;
    }
    .sec-B .cont-portafolio .obj-portafolio:hover .txt-portafolio{
        transform: translateY(0%);
    }
.sec-B .cont-portafolio .obj-portafolio img{
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}
    .sec-B .cont-portafolio .obj-portafolio:hover img{
        transform: scale(1.15);
    }

